@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		overflow-x: hidden;
	}

	html.scroll-hidden {
		overflow-y: hidden;
	}

	body {
		font-family: 'Poppins', sans-serif;
		position: relative;
	}
}
